{% extends 'base.html' %}
{% block home %}
<div class="post" style="border: 1px solid black;">
    <h1>Latest news!</h1>
        {% if posts %}
        {% for post in posts %}
        <div class="card">
            <div>
                <a href="#">{{post.id}}</a>
                <b>{{post.title}}</b>
                <b>{{post.date}}</b>
            </div>
            <small>{{post.body}}</small>
        </div>
        {% endfor %}
        {% endif %}
        <br>
        <a href="#">Archive</a>
</div>
{% endblock home %}
