<div class="navigation-wrapper">
  <div class="navigation-ascii-art">▗▌ ▞▀▖▞▀▖▛▀▖▜▘▀▛▘
 ▌ ▚▄▘ ▗▘▙▄▘▐  ▌
 ▌ ▌ ▌▗▘ ▌ ▌▐  ▌
▝▀ ▝▀ ▀▀▘▀▀ ▀▘ ▘ </div>
  <div class="navigation-links">

    <ul>
      <li><a href="home">DASHBOARD</a> /</li>
      <li>/ <a href="docs">DOCUMENTATION</a> /</li>
      <li>/ <a href="contact">CONTACT</a></li>
    </ul>
    <ul>
      <li>
        <div class="full-load-time"></div>
      </li>
      <li>v0.7 /</li>
      <li style="padding-right:10px;">/ {{ today }}</li>
    </ul>
  </div>
</div>

<hr style="border: 3px dashed grey;">
